<%= form_for(@schedule) do |f| %>
  <div class="field">
    <%= f.label :polling, 'Intervalo de Medição' %><br />
    <%= f.number_field :polling %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
