  <div class="tabbable">
    <ul class="nav nav-tabs ">
      <li class="active"><a href="#tab1" data-toggle="tab">Aba 1</a></li>
      <li><a href="#tab2" data-toggle="tab">Aba 2</a></li>
      <li><a href="#tab3" data-toggle="tab">Aba 3</a></li>
    </ul>
    <div class="tab-content tab-content-border">
      <div class="tab-pane active" id="tab1">
        <p>AAAAAA.</p>

      </div>
      <div class="tab-pane" id="tab2">
        <p>BBBBBBB.</p>
      </div>
      <div class="tab-pane" id="tab3">
        <p>CCCCCCC.</p>
      </div>
    </div>
  </div>