/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */


.pagination
{
    border: 1px solid #AAAAAA;
    float: right;
    width: 100%;
    text-align: center;
}

.pagination em
{
   font-weight: bold;
}


article, aside, details, figcaption, figure, footer, header, hgroup, nav, section {
    display: block;
}
body {
    color: #333333;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 14px;
    line-height: 20px;
}
html {
    font-size: 100%;
}

html, body {
    height:100%;
}
#wrap {
    margin: 0 auto -42px;
    min-height: 100%;
}

#main {
    padding-top: 60px;
}

.push, .footer {
    height: 40px;
}

.footer {
    background-color: #F5F5F5;
    border-top: 1px solid #E5E5E5;
    padding: 0;
    text-align: center;
}

.footer-links {
    margin: 10px 0;
}


.footer-links li {
    display: inline;
    padding: 0 2px;
}



