
.pagination
  {
  border: 1px solid #AAAAAA;
  float: right;
  width: 100%;
  text-align: center;
}

.pagination em
  {
  font-weight: bold;
}


article, aside, details, figcaption, figure, footer, header, hgroup, nav, section {
  display: block;
}
body {
  color: #333333;
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 14px;
  line-height: 20px;
}
html {
  font-size: 100%;
}

html, body {
  height:100%;
}
#wrap {
  margin: 0 auto -42px;
  min-height: 100%;
}

#main {
  padding-top: 60px;
}

.push, .footer {
  height: 40px;
}

.footer {
  background-color: #F5F5F5;
  border-top: 1px solid #E5E5E5;
  padding: 0;
  text-align: center;
}

.footer-links {
  margin: 10px 0;
}


.footer-links li {
  display: inline;
  padding: 0 2px;
}

.brand {
  padding: 5px 20px !important;
}

.navbar-fixed-top {
  background-color: #333 !important;
}

.asap, h1, h2, h3 {
  font-family: "Asap", sans-serif !important;
}

.googleMap{
  border: 1px dashed #C0C0C0;
  width: 95%;
  height: 450px;
}
.googleMap img{
  max-width: none;
}

.googleMap label{
  width: auto;
  display: inline;
}

form .clearfix:before, form .clearfix:after {
  display: inline;
}

.row-content-border {
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 5px;
}

label.filter-bar {
  padding: 4px 6px;
  vertical-align: bottom;
  font-weight: bold;
  color: #C0C0C0;
}

