<html>
<body>
<p>Olá, <%= @resource.email %>!</p>

<p>Você solicitou a mudança de sua senha, pois a esqueceu. Para efetuar está mudança, clique no link abaixo.</p>

<p><%= link_to 'Alterar minha senha', edit_password_url(@resource, :reset_password_token => @resource.reset_password_token) %></p>

<p>Se você não solicitou está mudança, porfavor ignore este email.</p>
<p>Sua senha não irá mudar até que você acesse o link acima.</p>

</body>
</html>
