<%= form_tag(pacman_reports_path, :class => 'form-horizontal', :id => 'report-form4') do %>

    <div class="row-fluid">
      <h5>Pac-Man</h5>
      </div>

    <div class="row-fluid">

      <div class="control-group">
        <div class="span4">
        <label class="control-label" for="type">Posição dos servidores: </label>
        <div class="controls">
          <!-- select :agent,'', Probe.types,{}, :onchange => 'displayTypes(this.value)', :id=>"agent"  -->
          <select id="idservers" name="servers[]"  id="servers-position" onchange="showNetworkTypes(this.value)"style="font-size:small; width: 155px" >
              <option name="servers[]" value="internos" selected>Internos</option>
              <option name="servers[]" value="externos">Externos</option>
          </select>
        </div>
          </div>
      <div class="span4" id="networktype">
        <label class="control-label" for="type">Tipo de Rede: </label>
        <div class="controls">
          <!-- select :agent,'', Probe.types,{}, :onchange => 'displayTypes(this.value)', :id=>"agent"  -->
          <select name="networks[]" id="type" style="font-size:small; width: 155px" >
              <option value="fixed">Fixa</option>
              <option value="mobile">Móvel</option>
          </select>
        </div>
      </div>
    </div>

      <div class="span4 control-group">
        <input class="btn btn-primary" type="submit" name="add" id="report-add4" value="Adicionar"  data-toggle="collapse" data-target="#accordion_forms"/>
      </div>
    </div>
<% end %>
<%= form_tag(pacman_activity_reports_path, :class => 'form-horizontal', :id => 'report-form5') do %>

    <div class="row-fluid">
      <h5>Atividade das Sondas</h5>
      <div class="span4 control-group">
        <input class="btn btn-primary" type="submit" name="add" id="report-add5" value="Adicionar"  data-toggle="collapse" data-target="#accordion_forms"/>
      </div>
    </div>
<% end %>
<%= form_tag(pacman_service_activity_reports_path, :class => 'form-horizontal', :id => 'report-form6') do %>

        <div class="row-fluid">
      <h5>Status do serviço</h5>
      <div class="span4 control-group">
        <input class="btn btn-primary" type="submit" name="add" id="report-add6" value="Adicionar"  data-toggle="collapse" data-target="#accordion_forms"/>
      </div>
    </div>
<% end %>


<script>
    $(function () {
      if ($('#idservers').val() == 'internos')
      {
          $('#networktype').show();
      }
      else
      {
          $('#networktype').hide();
      }
    });


    function showNetworkTypes(selected){
        if(selected == "internos")
        {
            $('#networktype').show();
        }
        else
        {
            $('#networktype').hide();
        }
    }

    jQuery('#report-form4').submit(function (event) {
        $("html, body").animate({ scrollTop: 0 }, "slow");
        $("#optbtn").attr('src', '/assets/opt_btn-right.png');
        $("#optbtn").attr('name', 'closed');
    });

    jQuery('#report-form5').submit(function (event) {
        $("html, body").animate({ scrollTop: 0 }, "slow");
        $("#optbtn").attr('src', '/assets/opt_btn-right.png');
        $("#optbtn").attr('name', 'closed');
    });

    jQuery('#report-form6').submit(function (event) {
        $("html, body").animate({ scrollTop: 0 }, "slow");
        $("#optbtn").attr('src', '/assets/opt_btn-right.png');
        $("#optbtn").attr('name', 'closed');
    });
</script>