<%= form_tag(pacman_reports_path, :class => 'form-horizontal', :id => 'report-form4') do %>

    <div class="row-fluid">

      <div class="control-group">
        <label class="control-label" for="type">Posição dos servidores: </label>
        <div class="controls">
          <!-- select :agent,'', Probe.types,{}, :onchange => 'displayTypes(this.value)', :id=>"agent"  -->
          <select name="servers[]"  id="servers-position" onchange="showNetworkTypes(this.value)"style="font-size:small; width: 155px" >
              <option name="servers[]" value="internos">Internos</option>
              <option name="servers[]" value="externos">Externos</option>
          </select>
        </div>
      </div>
      <div class="control-group">
        <label class="control-label" for="type">Tipo de Rede: </label>
        <div class="controls">
          <!-- select :agent,'', Probe.types,{}, :onchange => 'displayTypes(this.value)', :id=>"agent"  -->
          <select  name="networks[]" id="type" style="font-size:small; width: 155px" >
              <option value="fixed">Fixa</option>
              <option value="mobile">Móvel</option>
          </select>
        </div>
      </div>
      <div class="control-group">
        <div class="controls">
          <input class="btn btn-primary" type="submit" name="add" id="report-add4" value="Adicionar"  data-toggle="collapse" data-target="#accordion_forms"/>
        </div>
      </div>
    </div>



<% end %>

<script>
    function showNetworkTypes(selected){
        if(selected == "internos")
        {
            $('#networktype').attr('disabled',false);
            $('#networktype').val("fixa");
        }
        else
        {
            $('#networktype').attr('disabled',true);
            $('#networktype').val("");
        }
    }

    jQuery('#report-form4').submit(function (event) {
        $("html, body").animate({ scrollTop: 0 }, "slow");
        $("#optbtn").attr('src', '/assets/opt_btn-right.png');
        $("#optbtn").attr('name', 'closed');



    });
</script>