<p style="color: blue"><b> Woololo....Woololo</b></p>
<p style="color: red"><b>:)</b></p>
<br/>
<p style="color: blue"><b> Woololo....Woololo</b></p>
<p style="color: indianred">:|</p>
<br/>
<p style="color: blue"><b> Woololo....Woololo</b></p>
<p style="color: blue"><b>:S</b></p>