
<div id="many-graphs" class="row-fluid">
</div>

<!-- retornara o grafico dentro de um span6 que sera renderizado dentro de many-graphs
<script>
...
   success: function (result){
       $('$many-graphs').html('<div class="span6">'++'</div>');
   }
 ...
</script>
-->